.header {
	position: sticky;
	border-bottom: 2px solid #F3F3F3;

	&__content {
		min-height: 120px;
	}

	ul {
		display: none;
	}
	&__link.active {
		color: $primory;
		border-bottom: 3px solid $primory;
	}

	&__item {
		display: none;
		gap: 24px;
	}
}

.burger-menu {
	display: flex;
	cursor: pointer;
	padding: 10px;
	
	gap: 5px;
	flex-direction: column;
  
  & span {
	display: block;
	height: 2px;
	width: 22.5px;
	
	border-radius: 25%;
	background-color: #151411;;
  }
}
