@font-face {
  font-family: "EudoxusSans";
  font-style: normal;
  font-weight: normal;
  src: url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Regular.woff2") format("woff2"), url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Regular.woff") format("woff"), url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Regular.ttf") format("ttf"), url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Bold.woff2") format("woff2"), url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Bold.woff") format("woff"), url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Bold.ttf") format("ttf"), url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Medium.woff2") format("woff2"), url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Medium.woff") format("woff"), url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Medium.ttf") format("ttf");
}
body {
  font-family: "EudoxusSans";
  font-size: 18px;
  font-weight: 500;
}

.header {
  position: sticky;
  border-bottom: 2px solid #F3F3F3;
}
.header__content {
  min-height: 120px;
}
.header ul {
  display: none;
}
.header__link.active {
  color: #518581;
  border-bottom: 3px solid #518581;
}
.header__item {
  display: none;
  gap: 24px;
}

.burger-menu {
  display: flex;
  cursor: pointer;
  padding: 10px;
  gap: 5px;
  flex-direction: column;
}
.burger-menu span {
  display: block;
  height: 2px;
  width: 22.5px;
  border-radius: 25%;
  background-color: #151411;
}

.footer {
  border-top: 1.5px solid #ECE4DE;
  margin-top: 20px;
  padding-top: 3.7%;
}
.footer__list a {
  text-decoration: none;
  color: #151411;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
}
.footer__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}