@import "_vars.scss";
@import "_mixin.scss";
@import "_reset.scss";

@font-face {
	font-family: 'EudoxusSans';
	font-style: normal;
	font-weight: normal;
	src: url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Regular.woff2") format("woff2"),
	url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Regular.woff") format("woff"),
	url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Regular.ttf") format("ttf"),
	url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Bold.woff2") format("woff2"),
	url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Bold.woff") format("woff"),
	url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Bold.ttf") format("ttf"),
	url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Medium.woff2") format("woff2"),
	url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Medium.woff") format("woff"),
	url("../../../../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Medium.ttf") format("ttf")
}

body {
	font-family: 'EudoxusSans';
	font-size: 18px;
	font-weight: 500;
}